<table>
    <tr>
        <th>EmployeeId</th>
        <td><input type="text"  #t1></td>
    </tr>
    <tr>
        <th>Employee name</th>
        <td><input  type="text"  #t2></td>

    </tr>
    <tr>
        <th>salary</th>
        <td><input  type="text"  #t3></td>

    </tr>
    <tr>
        <th>Departmentno</th>
        <td><input  type="text"  #t4></td>

    </tr>
    <tr>
        <td><input type="button" value="Add"
        (click)="addEmployee(t1.value,t2.value,t3.value,t4.value)"></td>
    </tr>

</table>